<section class="wrapper">
  <div class="row mt">
    <% if @links.blank? %>
      <div class="no_links_msg">You do not have anything to display at this time. <%= link_to 'Start saving one now!', new_link_path%></div>
    <% else %>
      <div class="col-lg-8 col-md-8 col-sm-8 links" id="links-list">
        <%= render partial: 'links/links_list', locals: { links: @links}%>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 showback tag-cloud-width">
          <% tag_cloud current_user.owned_tags, %w{s m l} do |tag, css_class| %>
            <%= link_to tag.name, links_path(tag: tag.name), class: css_class %>
          <% end %>
      </div>
      <div class="link_pagination">
        <%= will_paginate @links || @search_list %>
      </div>
    <% end %>
  </div>
</section>