
.material{
    float: left;
    padding-right:10px;
}

.spacer5 { height: 5px; }
.spacer10 { height: 10px; }
.spacer15 { height: 15px; }
.spacer20 { height: 20px; }
.spacer25 { height: 25px; }
.spacer30 { height: 30px; }
.spacer35 { height: 35px; }
.spacer40 { height: 40px; }
.spacer45 { height: 45px; }
.spacer50 { height: 50px; }
.spacer65 { height: 65px; }
.spacer70 { height: 70px; }
.spacer75 { height: 75px; }
.spacer100 { height: 100px; }
.spacer200 { height: 200px; }

.spacer-width {
    width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block;
}

.footer{
    height: 20px;
    width: 40px;
    min-height: 20px;
    min-width: 40px;
    position: absolute;
    opacity: 0.85;
    z-index: 8675309;
    display: none;
    cursor: pointer;
}
.site-footer{
    position: fixed;
    height: 40px;
    bottom: 0px;
    width: 100%;
    color: black !important;
    background-color: #ffd777 !important;
}

body{
    background-color: #eeeeee !important;
}

.black-bg{
    background-color: #ffd777 !important;
    border-color: #c9aa5f !important
}
.logout{
    /*background-color: #ff5555 !important;*/
}
a:hover{
    text-decoration: none !important;
}
/*.form-login h2.form-login-heading {*/
    /*background-color: #ff7777 !important;*/
/*}*/

/*.btn-theme:hover, .btn-theme:focus, .btn-theme:active {*/
    /*background-color: #ff5050 !important;*/
    /*border-color: #ff8080 !important;*/
    /*border-bottom: 1px solid #ff8080;*/
    /*border-right: 1px solid #ff8080;*/
/*}*/

/*.btn-theme{*/
    /*background-color: #logout !important;*/
    /*border-top: 4px solid #ff4040;*/
    /*border-left: 4px solid #ff4040;*/
    /*border-color: #ff4545 !important;*/

/*}*/
#tomato {
    color: #ff7777;
}

.no_links_msg{
margin-left:20%;
margin-top: 10%;
font-size: 20px
}

.black-bg {
    border-bottom: 0px solid #ccc !important;
}

.alert-notice{
    background-color: #dff0d8 !important;
}

.alert-error, .alert-alert  {
    background-color: #f2dede !important;
}

.stick_to_left{
    margin-left: -15px !important
}

.stick_to_right{
    margin-right: -15px !important;
    margin-left: 30px !important;
}

.control-label {
    font-family: 'Ruda', sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: #666;
}

.link_pagination {
    display: none;
}

.alert_msg {
    width: 100%;
    align-content: center;
    padding-top: 5%;
    font-size: 15px;
    margin-bottom: -75px;
}
.toggle_btn{
    background-color: white !important;
    padding: 0px !important;
    color: #787978 !important;
    margin-top: 9px !important;
}
.toggle_btn:hover{
    color: black !important;

}
.btn-link-menu{
    float: right;
    margin-top: -30px;
}
.description_div {
    display: none;
}
.show_me{
    display: block !important;
}
.hide_me{
    display: none;
}
.view_toggle_font{
    font-size:12px;
    padding-left: 10px;
}
.favourite_btn{
    color: #aeb2b7;
}
.favourite_btn:hover{
    color: #ff7777;
}
.btn-group.open .dropdown-toggle{
    box-shadow: none !important;
}
.btn-group.open .dropdown-toggle:focus{
    box-shadow: none !important;
}
.btn:active{
    box-shadow: none !important;
}

.fonts_login{
font-family: "Ruda",sans-serif !important;
}
a:focus, a:active {
    color: #337ab7 !important;
    outline: none !important;
    text-decoration: none !important;
}
.s { font-size: 0.8em; }
.m { font-size: 1.2em; }
.l { font-size: 1.8em; }

.tag-cloud-width{
    width: 32% !important;
}

#search {
    width: 250px;
    float: left;
}

.search_box {
    width: 200px;
    float: left;
}

.search_bar {
    margin-left: 300px;
    margin-top: 15px;
    width: 250px;
    float: left;
}

.search_button{
    background-color: transparent;
    border: none;
    margin-left: -5px;
}

.sort_links {
    font-size: 14px;
    padding: 5px 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.links {
    float: left;
    clear: left;
}

.select_box { display: block;
    float: right;
    width: auto;
    margin-bottom: 5px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15
}