<header class="header black-bg">
  <div class="sidebar-toggle-box">
    <div class="fa fa-bars tooltips left_sidebar" data-placement="right" data-original-title="Toggle Navigation"></div>
  </div>
  <%= link_to 'Learning Path', links_path, class: 'logo' %>
  <div>
    <ul class="nav pull-right top-menu">
      <% if current_user %>
        <li><%= link_to 'Profile', edit_user_registration_path(@current_user), class: 'logout' %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'logout' %></li>
      <% end %>
    </ul>
  </div>
</header>