<header class="header black-bg">
  <%= link_to 'Learning Path', links_path, class: 'logo' %>
  <div>
    <ul class="nav pull-right top-menu">
      <% if current_user %>
        <li><%= link_to 'Profile', edit_user_registration_path(@current_user), class: 'logout' %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'logout' %></li>
      <% end %>
    </ul>
  </div>
</header>