<header class="header black-bg">
  <%= link_to 'LearningPath', links_path, class: 'logo' %>
  <div class="top-menu">
    <ul class="nav pull-right top-menu">
      <li><a class="logout" href="http://www.blacktie.co/demo/dashgumfree/login.html">Logout</a></li>
    </ul>
  </div>
</header>