<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">LinkSaver</a>
  </div>
  <div>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Home', links_path %></li>
    </ul>
  </div>
</nav>